@model EpicMarket.Data.Models.ProductInternal

@{
    ViewData["Title"] = "Edit";
}

<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">Product Internal</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a asp-action="Index"><i class="bx bx-home-alt"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Edit</li>
            </ol>
        </nav>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-xl-9 mx-auto">
        <div class="card border-top border-0 border-4 border-info">
            <div class="card-body">
                <div class="border p-4 rounded">
                    <div class="card-title d-flex align-items-center">
                        <div>
                            <i class="bx bxs-user me-1 font-22 text-info"></i>
                        </div>
                        <h5 class="mb-0 text-info">Product Internal</h5>
                    </div>
                    <hr />
                    <form asp-action="Edit" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="ID" />
                        <input type="hidden" asp-for="CreateDate" />
                        <input type="hidden" asp-for="CreateBy" />
                        <input type="hidden" asp-for="ModifiedDate" />
                        <input type="hidden" asp-for="ModifiedBy" />
                        <input type="hidden" asp-for="IsActive" />
                        <div class="row mb-3">
                            <label asp-for="BarCode" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="BarCode" class="form-control" />
                                <span asp-validation-for="BarCode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="Name" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="Description" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Existing Images -->
                        <div class="row mb-3">
                            <label class="col-sm-3 col-form-label">Existing Images</label>
                            <div class="col-sm-9">
                                <div class="row" id="existingImagesContainer">
                                    @if (ViewBag.ProductImages != null)
                                    {
                                        foreach (var imageKey in ViewBag.ProductImages as List<string>)
                                        {
                                            <div class="col-md-3 mb-3 position-relative" data-image-key="@imageKey">
                                                <img src="@Url.Action("DisplayImage", "File", new { key = imageKey })" width="100%" height="150" class="img-fluid" />
                                                <button type="button" class="btn btn-danger btn-sm position-absolute top-0 end-0" onclick="removeImage('@imageKey')">
                                                    <i class="bx bx-trash"></i>
                                                </button>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>

                        <!-- Upload New Images -->
                        <div class="row mb-3">
                            <label class="col-sm-3 col-form-label">Upload New Images</label>
                            <div class="col-sm-9">
                                <input type="file" multiple class="form-control" id="files" name="files" multiple />
                            </div>
                        </div>
                        <!-- Hidden Field for Removed Images -->
                        <input type="hidden" id="removedImages" name="removedImages" />

                        <div class="row">
                            <label class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <button type="submit" class="btn btn-info px-5"> Save</button>
                            </div>
                            <div>
                                <a asp-action="Index">Back to List</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            @section Scripts {
                @{
                    await Html.RenderPartialAsync("_ValidationScriptsPartial");
                }

                <script>
                    function removeImage(imageKey) {
                        debugger
                        const removedImagesInput = document.getElementById('removedImages');
                        const existingImages = removedImagesInput.value.split(',');

                        if (existingImages[0] === '') {
                            existingImages.shift();
                        }

                        if (!existingImages.includes(imageKey)) {
                            existingImages.push(imageKey);
                        }
                        removedImagesInput.value = existingImages.join(',');
                        // Remove the image element from the DOM
                        const imageElement = document.querySelector(`div[data-image-key="${imageKey}"]`);
                        if (imageElement) {
                            imageElement.remove();
                        }
                    }

                    document.getElementById('files').addEventListener('change', function () {
                        const addedImagesInput = document.getElementById('addedImages');
                        const files = this.files;
                        const fileNames = Array.from(files).map(file => file.name);
                        addedImagesInput.value = fileNames.join(',');
                    });
                </script>
            }
