@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h3>
        Admin Functionalitys
    </h3>
    <ul class="list-group">
        <li class ="list-group-item">
            <a class="text-dark" asp-area="" asp-controller="ApplicationConfigurations" asp-action="Index">Application Configuations</a>
        </li>
        <li class ="list-group-item">
            <a class="text-dark" asp-area="" asp-controller="ApplicationSecurables" asp-action="Index">Application Securables</a>
        </li>
        <li class="list-group-item">
            <a class="text-dark" asp-area="" asp-controller="BusinessCategoryInternals" asp-action="Index">Bussiness Categorys(Interals)</a>
        </li>
        <li class="list-group-item">
            <a class="text-dark" asp-area="" asp-controller="ProductInternals" asp-action="Index">Product (Internal)</a>
        </li>
    </ul>
</div>
<div>
    <h3>
        Bussiness App Functionality
    </h3>
    <ul class="list-group">
        <li class="list-group-item">
            <a class="text-dark" asp-area="" asp-controller="Businesses" asp-action="Index">Bussiness</a>
        </li>
        <li class="list-group-item">
            <a class="text-dark" asp-area="" asp-controller="Catalogs" asp-action="Index">Catalogs</a>
        </li>
        <li class="list-group-item">
            <a class="text-dark" asp-area="" asp-controller="Outlets" asp-action="Index">Outlet</a>
            <ul class="list-group">
                <li class="list-group-item">
                    <a class="text-dark" asp-area="" asp-controller="OutletPersons" asp-action="Index">Outlet Person</a>
                </li>
                <li class="list-group-item">
                    <a class="text-dark" asp-area="" asp-controller="OutletProducts" asp-action="Index">Outlet Product</a>
                </li>

            </ul>
        </li>
        <li class="list-group-item">
            <a class="text-dark" asp-area="" asp-controller="Orders" asp-action="Index">Orders</a>
            <ul class="list-group">
                <li class="list-group-item">
                    <a class="text-dark" asp-area="" asp-controller="OrderDetails" asp-action="Index">Order Details</a>
                </li>
            </ul>
        </li>
    </ul>
</div>

<div>
    <h3>
        Support Functionality
    </h3>
    <ul class="list-group">
        <li class="list-group-item">
            <a class="text-dark" asp-area="" asp-controller="SupportTickets" asp-action="Index">Support Tickets</a>
        </li>
    </ul>
</div>
