
<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to Epicmarket Admin Panel</h1>
        <p class="lead">@ViewBag.TypeofMessage @ViewBag.Firstname</p>
    </div>
</div>