@model EpicMarket.Data.Models.Business

@{
    ViewData["Title"] = "Create";
}

<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">Bussiness</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a asp-action="Index"><i class="bx bx-home-alt"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Register</li>
            </ol>
        </nav>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-xl-9 mx-auto">
        <div class="card border-top border-0 border-4 border-info">
            <div class="card-body">
                <div class="border p-4 rounded">
                    <div class="card-title d-flex align-items-center">
                        <div>
                            <i class="bx bxs-user me-1 font-22 text-info"></i>
                        </div>
                        <h5 class="mb-0 text-info">Register Business Details</h5>
                    </div>
                    <hr />
                    <form asp-action="Create" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Rating" />
                        <input type="hidden" asp-for="ReviewCount" />
                        <input type="hidden" asp-for="Weight" />
                        <div class="row mb-3">
                            <label asp-for="PersonID" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <select class="single-select"  asp-for="PersonID" class="form-control" asp-items="ViewBag.PersonID"></select>
                                <span asp-validation-for="PersonID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="BusinessCategoryID" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <select class="single-select"  asp-for="BusinessCategoryID" class="form-control" asp-items="ViewBag.BusinessCategoryID"></select>
                                <span asp-validation-for="BusinessCategoryID" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label asp-for="Name" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="Description" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <textarea asp-for="Description" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-3 col-form-label">Upload Logo</label>
                            <div class="col-sm-9">
                                <input type="file"  class="form-control" id="Images" name="Images" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-3 col-form-label">Upload Proofs</label>
                            <div class="col-sm-9">
                                <input type="file" multiple class="form-control" id="Proofs" name="Proofs" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="ContactNumber" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="ContactNumber" class="form-control" />
                                <span asp-validation-for="ContactNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="ContactEmail" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="ContactEmail" class="form-control" />
                                <span asp-validation-for="ContactEmail" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="Address.Address1" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Address.Address1" class="form-control" />
                                <span asp-validation-for="Address.Address1" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="Address.State" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Address.State" class="form-control" />
                                <span asp-validation-for="Address.State" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="Address.City" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Address.City" class="form-control" />
                                <span asp-validation-for="Address.City" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="Address.Pincode" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Address.Pincode" class="form-control" />
                                <span asp-validation-for="Address.Pincode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="StatusId" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusID"></select>
                                <span asp-validation-for="StatusId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <div class="form-check">
                                    <input class="form-check-input" asp-for="IsOpen" />
                                    <label class="form-check-label" for="gridCheck4">@Html.DisplayNameFor(model => model.IsOpen)</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <button type="submit" class="btn btn-info px-5"> Save</button>
                            </div>
                            <div>
                                <a href="javascript:history.go(-1)" class="btn btn-secondary">
                                    <i class="bx bx-arrow-back me-1"></i> Back
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $('.single-select').select2({
            theme: 'bootstrap4',
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            placeholder: $(this).data('placeholder'),
            allowClear: Boolean($(this).data('allow-clear')),
        });
    </script>
           
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
