@model EpicMarket.Data.ApplicationModels.ApplicationConfiguration

@{
    ViewData["Title"] = "Create";
}


<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">Application Configuration</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a asp-action="Index"><i class="bx bx-home-alt"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Create</li>
            </ol>
        </nav>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-xl-9 mx-auto">
        <div class="card border-top border-0 border-4 border-info">
            <div class="card-body">
                <div class="border p-4 rounded">
                    <div class="card-title d-flex align-items-center">
                        <div>
                            <i class="bx bxs-user me-1 font-22 text-info"></i>
                        </div>
                        <h5 class="mb-0 text-info">Application Configurations</h5>
                    </div>
                    <hr />
                    <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row mb-3">
                <label asp-for="Name" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
            </div>
            <div class="row mb-3">
                <label asp-for="Value" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                <textarea asp-for="Value" class="form-control" ></textarea>
                <span asp-validation-for="Value" class="text-danger"></span>
                                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="Description" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <label class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                     <a asp-action="Index" class="btn btn-secondary px-5" id="cancelButton">Cancel</a>
                    <button type="submit" class="btn btn-info px-5">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script>
        $(document).ready(function() {
            // Track if form has been modified
            let formModified = false;
            
            // Mark form as modified when any input changes
            $('form input, form textarea').on('change keyup', function() {
                formModified = true;
            });
            
            // Add confirmation popup to cancel button
            $('#cancelButton').on('click', function(e) {
                if (formModified) {
                    e.preventDefault();
                    
                    // Create confirmation popup
                    const popup = $('<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">' +
                        '<div class="modal-dialog modal-dialog-centered">' +
                            '<div class="modal-content">' +
                                '<div class="modal-header bg-warning">' +
                                    '<h5 class="modal-title">Unsaved Changes</h5>' +
                                    '<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>' +
                                '</div>' +
                                '<div class="modal-body">' +
                                    '<p>You have unsaved changes that will be lost. Are you sure you want to cancel?</p>' +
                                '</div>' +
                                '<div class="modal-footer">' +
                                    '<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Stay on Page</button>' +
                                    '<button type="button" class="btn btn-danger" id="confirmCancel">Discard Changes</button>' +
                                '</div>' +
                            '</div>' +
                        '</div>' +
                    '</div>');
                    
                    // Append to body and show
                    $('body').append(popup);
                    const modal = new bootstrap.Modal(popup);
                    modal.show();
                    
                    // Handle confirmation
                    $('#confirmCancel').on('click', function() {
                        window.location.href = $('#cancelButton').attr('href');
                    });
                    
                    // Remove modal when hidden
                    popup.on('hidden.bs.modal', function() {
                        popup.remove();
                    });
                }
            });
        });
    </script>
}
